/* vim: set fdm=marker: */

/* base {{{ */

:root {
	--body-color: #333;
	--primary-color: #1F67A3;
	--primary-color-light: #1F67A320;
	--secondary-color: #FF934F;
	--background-accent-color-light: #F5F6F7;
}

body {
	display: flex;
	color: var(--body-color);
	padding: 2rem 0;
	margin: 0;
	font-family: "IBM Plex Sans", "sans-serif";
	font-size: 13pt;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

h1,h2 {
	font-family: "IBM Plex Sans", "sans-serif";
	font-weight: 700;
}

h3,h4,h5,h6 {
	font-family: "IBM Plex Sans", "sans-serif";
	font-weight: 400;
}

:not(pre) > code {
	padding: 0.2rem;
}

code {
	font-family: "IBM Plex Mono", monospace;
	hyphens: none;
}

pre {
	font-size: 0.8em;
	padding: 1rem;
	background-color: var(--background-accent-color-light);
	overflow-x: auto;
}

.link,
a:not(.not-link) {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: var(--primary-color);
}

.link::after,
a:not(.not-link)::after {
	position: absolute;
	top: 0;
	right: -3px;
	bottom: 0;
	left: -3px;
	content: "";
	border-radius: 5px;
	transition: 0.1s background-color ease;
}

.link:hover::after,
a:not(.not-link):hover::after {
	background-color: var(--primary-color-light);
}

/* }}} */

/* layout {{{ */
.side {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 10rem;
	padding: 2rem;
}

.side a {
	color: inherit;
}

.side-title {
	font-weight: 700;
}

.side-nav {
	padding: 0;
	margin-bottom: 0;
}

.side-item {
	list-style-type: none;
	margin-left: none;
}

.container {
	box-sizing: border-box;
	padding: 2rem;
	width: 100%;
	max-width: 40rem;
}

@media screen and (max-width: 50rem) {
	body {
		display: block;
		padding: 0;
	}

	.side {
		width: 100%;
	}

	.side-nav {
		display: flex;
	}

	.side-item + .side-item {
		margin-left: 1rem;
	}

	.hide-mobile {
		display: none;
	}
}
@media screen and (min-width: 50rem) {
	.hide-desktop {
		display: none;
	}
}
/* }}} */

/* article {{{ */
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
p:not(:first-child) {
	margin-top: 1rem;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child),
p:not(:last-child) {
	margin-bottom: 1rem;
}

.article-header {
	margin-bottom: 2rem;
}

.article img {
	width: 100%;
}

.toc {
	position: relative;
	padding-top: 2rem;
}

#TableOfContents {
	position: sticky;
	top: 1rem;
}

#TableOfContents ul {
	padding-left: 1rem;
	list-style: none;
	font-size: 0.9rem;
}

#TableOfContents > ul {
	padding-left: 0;
	margin: 0;
	font-size: 1rem;
}

/* }}} */
