body {
  margin: 0;
  font-family: 'Merriweather', 'serif';
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nanum Myeongjo', 'serif';
}

h2 {
  margin:4rem 0 1rem;
  padding-left: 1.5rem;
  border-bottom: #aaa 1px solid;
}

h2::before {
  font-family: 'sans-serif';
  color: #999;
  position: relative;
  right:1rem;
  content: "#"
}

.content-wrapper  {
  width: 820px;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
  padding: 20px;
  width: 600px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.side {
  position:fixed;
  box-sizing: border-box;
  margin: 30px 0;
  padding: 10px;
  background-color: #f8f8f8;
  width:220px;
}

.side-avatar {
  display: block;
  margin: 2rem auto 1rem;
  width:100px;
  border-radius:50px;
}

.side-item {
  padding-left: 0;
  text-align: center;
}

ul.side-nav {
  list-style: none;
}

:not(pre) > code {
  padding: 0.2rem;
}

code {
  background-color: #f3f3f3;
}

pre {
  padding: 1rem;
  background-color: #f3f3f3;
}

.side-title {
  font-family: 'Nanum Myeongjo', 'serif';
  font-weight: 700;
  font-size:1.5rem;
  margin: 1rem 0 1rem;
}

h1,article-title {
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  .content-wrapper { width: 600px; }
  .side { width: 600px; position: static; }
  .side-item { width: 200px; margin: 10px auto; text-align: center; }
}

@media only screen and (max-width: 600px) {
  .container { width: 100%; }
  .content-wrapper { width: 100%; }
  .side { width: 100%; }
}

