{{/*
vim: ft=gohtmltmpl
*/}}
{{ define "main" }}
	<h1 class="title"> {{ .Title }} </h1>
	<div class="content">
		{{ .Content }}
	</div>
	<ul class="post-list">
		{{ range .Paginator.Pages }}
			<li class="post-listing">
				<article class="article">
					<p>
						<a class="article-title" href="{{ .Permalink }}">
							<span class="article-date label"> {{ .Date.Format "Jan '06"}} </span>
							{{ .Title }}
						</a>
					</a>
				</article>
			</li>
		{{ end }}
		{{ template "_internal/pagination.html" . }}
		<div class="tags">
			<p> tags:
			{{range .Site.Taxonomies.tags}}
				<a href="{{.Page.Permalink}}">{{.Page.Title}}</a>
			{{end}}
			</p>
		</div>
	</ul>
	<style>
		.post-list {
			margin-top: 1em;
		}
	</style>
{{ end }}
