{{/*
vim: ft=gohtmltmpl
*/}}
{{ define "main" }}
	<h1 class="label"> {{ .Title }} </h1>
	<ul class="post-list">
		{{ range .Paginator.Pages }}
			<li class="post-listing">
				<article class="article">
					<p>
						<a class="article-title" href="{{ .Permalink }}">
							<span class="article-date"> {{ .Date.Format "Jan '06"}} </span>
							{{ .Title }}
						</a>
					</a>
				</article>
			</li>
		{{ end }}
		{{ template "_internal/pagination.html" . }}
		<div class="tags">
			<p> tags:
			{{range .Site.Taxonomies.tags}}
				<a href="{{.Page.Permalink}}">{{.Page.Title}}</a>
			{{end}}
			</p>
		</div>
	</ul>
{{ end }}
