{{/*
vim: ft=gohtmltmpl
*/}}
{{ define "main" }}
	<div class="container float-right">
		<ul>
			{{ range .Paginator.Pages }}
				<li class="post-listing">
					<article class="article">
						<div class="article-header">
							<a href="{{ .Permalink }}">
								<h2 class="article-title">{{ .Title }}</h2>
								<p class="article-date"> {{ .Date.Format "Jan 2, 2006"}} </p>
							</a>
						</div>
					</article>
				</li>
			{{ end }}
			{{ template "_internal/pagination.html" . }}
		</ul>
	</div>
{{ end }}
