{{/*
vim: ft=gohtmltmpl
*/}}
{{ define "main" }}
	<article class="article">
		<div class="article-header">
			<h1><a class="article-title title" href="{{ .Permalink }}">{{ .Title }}</a></h1>
			<p class="article-date label"> {{ .Date.Format "Jan 2, 2006"}} </p>
			<div class="toc hide-desktop">
				{{ .TableOfContents }}
			</div>
		</div>
		<div class="content">
			{{ .Content }}
		</div>
		<div class="tags">
			<p> tags:
			{{range .Params.tags}}
				<a href="/tags/{{.}}">{{.}}</a>
			{{end}}
			</p>
		</div>
	</article>
{{ end }}
{{ define "rest" }}
	<div class="toc hide-mobile">
		{{ .TableOfContents }}
	</div>
{{ end }}
