<head>
	<title> {{.Title}} </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{ .Description }}">
	{{ if .Site.Params.author -}}
		<meta name="author" content="{{ .Site.Params.author}}" />
	{{- end }}
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ "css/main.css" | absURL }}">
	<link type="text/css" rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="icon" href="{{ $.Site.Params.favicon | absURL }}"/>
</head>
