<head>
	<title> {{.Title}} </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{ .Description }}">
	{{ if .Site.Params.author -}}
		<meta name="author" content="{{ .Site.Params.author}}" />
	{{- end }}
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Mono:400,700&display=swap" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ "css/briefs.min.css" | absURL }}">
	<link type="text/css" rel="stylesheet" href="{{ "css/main.css" | absURL }}">
	<link type="text/css" rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">

	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="icon" href="{{ $.Site.Params.favicon | absURL }}"/>
</head>
