{{/*
vim: ft=gohtmltmpl
*/}}
<div class="side-wrapper float-left clearfix">
	<div class="side">
		<a href="{{ "/" | absURL}}"> <img class="side-avatar" src="{{ $.Site.Params.avatar | absURL }}" > </a>
		<div class="side-item side-title"> {{ .Site.Title }} </div>
		<div class="side-item"> {{ .Site.Params.Description }} </div>
		<ul class="side-item side-nav">
			{{ range .Site.Menus.navigation }}
				<li> <a href="{{ .URL | absURL }}"> {{ .Name }} </a> </li>
			{{ end }}
		</ul>
	</div>
	<div class="tags">
		<p> tags:
		{{range .Site.Taxonomies.tags}}
			<a href="{{.Page.Permalink}}">{{.Page.Title}}</a>
		{{end}}
		</p>
	</div>
</div>
